@keyframes show{
  from{background: rgba(0,0,0,0);}
  to{background: rgba(0,0,0,0.8);}
}
@keyframes hide{
  from{opacity: 0.8;}
  to{opacity: 0;}
}

html {
  height: 100%
}
body {
  height: 100%;
  margin: 0;
}
#map {
  height: 100%;
  width: 100%
}
.video_screen{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;

}
.video_screen.show{
  display: block;
  background: rgba(0,0,0,0.8);
  animation: show 1s linear 0s;
}

.iframe_wrapper{
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.iframe_wrapper iframe{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-width: 560px;
  max-height: 315px;
}
.info_button{
  max-width: 300px;
  background: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.info_button img{
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  width: 10%;
}
.info_button h3{
  display: inline-block;
  vertical-align: middle;
}

.buttons{
  width: 13vw;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 55px;

}

.buttons button{
  background: none ;
  border: none ;
}

.buttons img{
  margin: 4px 0;
}

#pan2origin img{
  width: 100%;
}
#getmyplace img{
  width: 80%;
}


.close_btn {
  position: absolute;
  margin: 10px;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 4;
  background: bottom;
  border: none;
  outline: none;
}
.close_btn span::before,
.close_btn span::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 84%;
  height: 3%;
  margin: -8% 0 0 -42%;
  background: white;
}
.close_btn span::before {
  transform: rotate(-45deg);
}
.close_btn span::after {
  transform: rotate(45deg);
}
